# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple 
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data 
type(T1)

tuple

**Latihan**

In [ ]:
#Buatlah tuplemu sendiri 
T1 = (8, "Sepuluh", False, 4+6j)
print("ini adalah tuple", T1)

ini adalah tuple (8, 'Sepuluh', False, (4+6j))

**Sifat-sifat Tuple**

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak Bisa Diganti/Immutable 
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat Diindeksi/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [ ]:
#Dapat Diijinjan Duplikasi 
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan tuple**

In [ ]:
# Menggabungkan Tuple 
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
T2 = (10, 88, False, 120)
T2

(10, 88, False, 120)

In [ ]:
# Menggabungkan Tuple 
T3 = T1 + T2
T3

(8, 'Sepuluh', False, (4+6j), 10, 88, False, 120)