# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. ``` list () ``` : untuk mengubah menjadi list 

b. ```tuple()``` : untuk mengubah menjadi tuple 

c. ```set()``` : untuk mengubah menjadi set 

d. ```dict()``` : untuk mengubah menjadi dictionary

### Mengkonversi tipe data list

In [2]:
# membuat 2 list 
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [3]:
# Mengkonversi struktur data list 
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

### Mengkonversi tipe data tuple

In [ ]:
# Membuat data tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
#Mengkonversi struktur data tuple 
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
#Melihat data yang telah dikonversi 
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

### Mengkonversi tipe data set

In [ ]:
# Membuat dua set 
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [ ]:
# Mengkonversi struktur data set 
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
#Melihat data yang telah dikonversi 
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

### Mengkonversi tipe data list

In [ ]:
# membuat dictionary 
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [ ]:
# Mengkonversi struktur data dictionary dari key dan value-nya 
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
# Melihat data yang telah dikonversi 
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'alamat', 'nama'}

### Latihan

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook 
# sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

### Mengkonversi tipe  data list

In [6]:
L3 = [11, 13, 17, 19, 23]
L4 = [2, 3, 5, 7, "bilangan prima"]

In [7]:
# Mengkonversi struktur data list 
k_tuple = tuple(L3)
k_set = set(L4)
k_dict = dict(zip(L3, L4))
#Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(11, 13, 17, 19, 23)
{2, 3, 5, 7, 'bilangan prima'}
{11: 2, 13: 3, 17: 5, 19: 7, 23: 'bilangan prima'}

### Mengkonversi tipe data tuple

In [10]:
T3 = (1, 4, 9, 25, 36, "Bilangan kuadrat")
T4 = (2, 4, 6, 8, 10, 12, "Bilangan genap")

In [11]:
# Mengkonversi struktur data tuple 
k_list = list(T3)
k_set = set(T4)
k_dict = dict(zip(T3, T4))

#Melihat data yang telah dikonversi 
print(k_list)
print(k_set)
print(k_dict)

[1, 4, 9, 25, 36, 'Bilangan kuadrat']
{2, 4, 6, 8, 10, 12, 'Bilangan genap'}
{1: 2, 4: 4, 9: 6, 25: 8, 36: 10, 'Bilangan kuadrat': 12}

### Mengkonversi tipe data set

In [13]:
S3 = {6, 12, 18, 24, 30, 36}
S4 = {2.4, 3.4, 8+8j, 2+8j, "Matematika"}

In [14]:
# Mengkonversi struktur data set 
k_list = list(S3)
k_tuple = tuple(S4)
k_dict = dict(zip(S3, S4))
# Melihat data yang telah dikonversi 
print(k_list)
print(k_tuple)
print(k_dict)

[36, 6, 12, 18, 24, 30]
((8+8j), 2.4, 3.4, 'Matematika', (2+8j))
{36: (8+8j), 6: 2.4, 12: 3.4, 18: 'Matematika', 24: (2+8j)}

### Mengkonversi tipe data list

In [18]:
# Membuat dictionary 
D1 = {
    "nama": "Bulan",
    "jurusan": "Matematika",
    "fakultas": "fakultas sains dan teknologi terapan",
    "kampus": "UAD"
}

In [19]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D1.keys())
k_tuple = tuple(D1.values())
k_set = set(D1.keys())
# melihat data yang telah konversi 
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'jurusan', 'fakultas', 'kampus']
('Bulan', 'Matematika', 'fakultas sains dan teknologi terapan', 'UAD')
{'jurusan', 'nama', 'kampus', 'fakultas'}